@* Modal reutilizable *@
<div class="modal fade" id="reusableModal" tabindex="-1" role="dialog" aria-labelledby="reusableModalLabel" style="display: none;" inert>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reusableModalLabel">@* Title *@</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="reusableModalBody">
                @* content *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="onSave()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* @section Scripts {
    <script type="text/javascript">
        function showModal(title, content, onSaveCallback) {
            document.getElementById('reusableModalLabel').innerText = title;
            document.getElementById('reusableModalBody').innerHTML = content;
            window.onSaveCallback = onSaveCallback;
            $('#reusableModal').modal('show');
        }

        function closeModal() {
            $('#reusableModal').modal('hide');
        }

        function onSave() {
            if (window.onSaveCallback) {
                window.onSaveCallback();
            }
            closeModal();
        }
    </script>
} *@